:root {
  --clr-dark: 230deg 35% 7%;
  --clr-light: 231deg 77% 90%;
  --clr-white: 0deg 0% 100%;
  --ff-barlow: 'Barlow Condensed', sans-serif;
  --ff-bellefair: 'Bellefair', serif;
  --fs-200: 0.875rem;
  --fs-300: 0.9375rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 3.5rem;
  --fs-900: clamp(5rem, 10vw + 2rem, 9.375rem);
  --letter-spacing-1: 2.35px;
  --letter-spacing-2: 2.7px;
  --letter-spacing-3: 4.75px;
}
@media screen and (min-width: 35em) {
  :root {
    --fs-200: 1rem;
    --fs-300: 1rem;
    --fs-400: 1.25rem;
    --fs-500: 1.5rem;
    --fs-700: 2.5rem;
    --fs-800: 5rem;
  }
}
@media screen and (min-width: 55em) {
  :root {
    --fs-300: 1.125rem;
    --fs-400: 1.75rem;
    --fs-500: 2rem;
    --fs-700: 3.5rem;
    --fs-800: 6.25rem;
  }
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.text-light {
  color: hsl(var(--clr-light));
}

.bg-light {
  background-color: hsl(var(--clr-light));
}

.text-white {
  color: hsl(var(--clr-white));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.ff-barlow {
  font-family: var(--ff-barlow);
}

.ff-bellefair {
  font-family: var(--ff-bellefair);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
  line-height: 1.1;
}

.fs-700 {
  font-size: var(--fs-700);
  line-height: 1.1;
}

.fs-800 {
  font-size: var(--fs-800);
  line-height: 1.1;
}

.fs-900 {
  font-size: var(--fs-900);
  line-height: 1.1;
}

.letter-spacing-1 {
  letter-spacing: var(--letter-spacing-1);
}

.letter-spacing-2 {
  letter-spacing: var(--letter-spacing-2);
}

.letter-spacing-3 {
  letter-spacing: var(--letter-spacing-3);
}

.d-flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.align-items-center {
  align-items: center;
}

.d-grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.place-items-center {
  place-items: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-gap, 1rem);
}

.uppercase {
  text-transform: uppercase;
}

.text-wrapper {
  width: clamp(20rem, 40vw, 25rem);
  min-height: 7rem;
}

.circle-btn {
  font-size: 2rem;
  background-color: hsl(var(--clr-white));
  padding: 0 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  display: grid;
  place-items: center;
  transition: box-shadow 350ms ease-out;
}
.circle-btn:hover {
  box-shadow: 0 0 0 2.5rem hsl(var(--clr-white)/0.5);
}

.underline-indicators span {
  font-weight: 700;
}
.underline-indicators a {
  cursor: pointer;
}
.underline-indicators > * {
  padding: var(--underlines-gap, 1rem) 0;
  border: 0;
  border-bottom: 2px solid hsl(var(--clr-white)/0);
}
.underline-indicators > *:is(:hover, :focus) {
  border-color: hsl(var(--clr-white)/0.5);
}
.underline-indicators > .active, .underline-indicators > [aria-selected=true] {
  border-color: hsl(var(--clr-white)/1);
}

.dot-indicators *:where(:not(:first-child)) {
  margin-left: var(--gap, 0.5rem);
}
.dot-indicators > * {
  padding: 0.5em;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: hsl(var(--clr-white)/0.25);
}
.dot-indicators > *:is(:hover, :focus) {
  background-color: hsl(var(--clr-white)/0.5);
}
.dot-indicators > [aria-selected=true] {
  background-color: hsl(var(--clr-white)/1);
}

.number-indicators > * {
  border: 0;
  width: clamp(3rem, 6vw, 5rem);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: hsl(var(--clr-white)/0.25);
}
.number-indicators > *:is(:hover, :focus) {
  background-color: hsl(var(--clr-white)/0.5);
}
.number-indicators > [aria-selected=true] {
  background-color: hsl(var(--clr-white)/1);
}

.container {
  padding-inline: 2em;
  margin-inline: 2em;
}

.grid-container {
  display: grid;
  place-content: center;
  text-align: center;
  padding-inline: 0.5em;
  row-gap: var(--row-gap, 3rem);
}
@media screen and (min-width: 55em) {
  .grid-container {
    text-align: left;
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 45rem)) minmax(1rem, 1fr);
    column-gap: var(--column-gap, 1rem);
  }
  .grid-container > *:first-child {
    grid-column: 2;
  }
  .grid-container > *:last-child {
    grid-column: 3;
  }
  .grid-container > :where(.bottom) {
    translate: 0 20%;
  }
}

/* Home Page */
.home {
  background-image: url("../as/home/background-home-mobile.jpg");
}
@media screen and (min-width: 35em) {
  .home {
    background-image: url("../assets/home/background-home-tablet.jpg");
  }
}
@media screen and (min-width: 55em) {
  .home {
    background-image: url("../assets/home/background-home-desktop.jpg");
  }
}

.header {
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 1.25rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-navigation {
  --gap: clamp(1rem, 5vw, 3rem);
  --underlines-gap: 2rem;
  backdrop-filter: blur(1rem);
  background-color: hsl(var(--clr-white)/0.2);
}
@media screen and (max-width: 35em) {
  .primary-navigation {
    --underlines-gap: 0.5rem;
    --gap: 1rem;
    flex-direction: column;
    padding: 6rem 2rem;
    position: fixed;
    inset: 0 0 0 30%;
    translate: 100% 0;
    transition: translate 250ms ease-in;
  }
  .primary-navigation > * {
    border-bottom: 0;
  }
}
@media (min-width: 35em) and (max-width: 55em) {
  .primary-navigation span {
    display: none;
  }
}
@media screen and (min-width: 35em) {
  .primary-navigation {
    padding-inline-start: clamp(2rem, 10vw, 6rem);
    padding-inline-end: clamp(3rem, 10vw, 8rem);
  }
}
@media screen and (min-width: 55em) {
  .primary-navigation {
    margin-block: 2rem;
  }
}

.menu-toggle {
  display: none;
}
@media screen and (max-width: 35em) {
  .menu-toggle {
    display: block;
    width: 1.5rem;
    aspect-ratio: 1;
    background: url("../public/shared/icon-hamburger.svg") no-repeat center;
    border: 0;
    position: absolute;
    top: 2rem;
    right: 1rem;
    background-color: transparent;
    z-index: 9;
    cursor: pointer;
  }
  .menu-toggle:focus-visible {
    outline: 2px solid black;
    outline-offset: 5px;
  }
  .menu-toggle[aria-expanded=true] {
    background-image: url("../public/shared/icon-close.svg");
  }
}

@media screen and (max-width: 35em) {
  .show-menu {
    translate: 0 0;
  }
}
@media screen and (min-width: 55em) {
  .header::after {
    content: "";
    position: relative;
    display: block;
    height: 2px;
    width: 100%;
    background-color: hsl(var(--clr-white)/0.25);
    translate: 3.5rem 0;
    order: 1;
  }
  *:has(> .primary-navigation) {
    order: 2;
    white-space: nowrap;
  }
}
.destination {
  background-image: url("../assets/destination/background-destination-mobile.jpg");
}
@media screen and (min-width: 35em) {
  .destination {
    background-image: url("../assets/destination/background-destination-tablet.jpg");
  }
}
@media screen and (min-width: 55em) {
  .destination {
    background-image: url("../assets/destination/background-destination-desktop.jpg");
  }
}

.title-section {
  z-index: -2;
  place-items: center;
  position: relative;
}
@media screen and (min-width: 35em) {
  .title-section > .destination-title {
    width: max-content;
    position: absolute;
    top: -6rem;
    left: -10rem;
  }
}
@media screen and (min-width: 55em) {
  .title-section > .destination-title {
    top: -8rem;
    left: 0;
  }
}

.number-indicator {
  color: hsl(var(--clr-white)/0.5);
  font-weight: 700;
  margin-right: 1rem;
}

.destination-image {
  width: clamp(10rem, 30vw, 30rem);
}

.info-section {
  flex-direction: column;
}
@media screen and (max-width: 55em) {
  .info-section {
    align-items: center;
  }
}

.destination-list {
  --gap: 2rem;
}
.destination-list button {
  cursor: pointer;
  color: inherit;
  text-transform: inherit;
  background-color: transparent;
}

.destination-info {
  margin-top: 1.5rem;
  --flow-gap: 1.5rem;
}

.est-wrapper {
  margin-top: 2.5rem;
  padding-top: 2.5rem;
  border-top: 2px hsl(var(--clr-white)/0.2) solid;
  justify-content: space-between;
}
@media screen and (max-width: 55em) {
  .est-wrapper {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 35em) {
  .est-wrapper {
    flex-direction: column;
  }
}

.crew {
  background-image: url("../assets/crew/background-crew-mobile.jpg");
}
@media screen and (min-width: 35em) {
  .crew {
    background-image: url("../assets/crew/background-crew-tablet.jpg");
  }
}
@media screen and (min-width: 55em) {
  .crew {
    background-image: url("../assets/crew/background-crew-desktop.jpg");
  }
}

.grid-container__crew {
  place-items: center;
  grid-template-areas: "title" "image" "dots" "info";
}
.grid-container__crew > .crew-title {
  grid-area: title;
}
.grid-container__crew > .dot-indicators {
  grid-area: dots;
}
.grid-container__crew > .crew-info {
  grid-area: info;
}
.grid-container__crew > picture {
  grid-area: image;
  max-width: 60%;
  border-bottom: 2px solid hsl(var(--clr-white)/0.5);
}
@media screen and (min-width: 35em) {
  .grid-container__crew {
    grid-template-areas: "title" "info" "dots" "image";
  }
  .grid-container__crew > .crew-title {
    justify-self: start;
  }
}
@media screen and (min-width: 55em) {
  .grid-container__crew {
    justify-items: start;
    grid-template-areas: ". title image ." ". info image ." ". dots image .";
  }
  .grid-container__crew > picture {
    max-width: 100%;
    grid-column: span 2;
  }
}

.crew-info p {
  margin: 0 auto;
}
.crew-info h2 {
  color: hsl(var(--clr-white)/0.5);
}
@media screen and (min-width: 55em) {
  .crew-info p {
    margin: 0;
  }
}

@media screen and (min-width: 55em) {
  .crew-list {
    align-self: end;
  }
}

.technology {
  background-image: url("../assets/technology/background-technology-mobile.jpg");
}
@media screen and (min-width: 35em) {
  .technology {
    background-image: url("../assets/technology/background-technology-tablet.jpg");
  }
}
@media screen and (min-width: 55em) {
  .technology {
    background-image: url("../assets/technology/background-technology-desktop.jpg");
  }
}

.grid-container__technology {
  padding-inline: 0;
  grid-template-areas: "title" "image" "list" "info";
}
.grid-container__technology > picture {
  grid-area: image;
}
.grid-container__technology > .technology-info {
  grid-area: info;
}
.grid-container__technology > .technology-title {
  grid-area: title;
}
.grid-container__technology > .technology-list {
  grid-area: list;
  margin-inline: auto;
}
@media screen and (min-width: 35em) {
  .grid-container__technology > .technology-title {
    justify-self: start;
  }
}
@media screen and (min-width: 55em) {
  .grid-container__technology {
    grid-template-columns: minmax(1rem, 1fr) minmax(0, 5rem) minmax(0, 40rem) minmax(0, 37rem) minmax(1rem, 1fr);
  }
  .grid-container__technology {
    grid-template-areas: ". title title image" ". list info image" ". . info image" ". . . image";
  }
  .grid-container__technology > .technology-list {
    flex-direction: column;
    margin-inline: unset;
    gap: 0.5rem;
  }
  .grid-container__technology > .technology-info {
    justify-items: start;
  }
  .grid-container__technology > picture {
    justify-self: end;
    grid-column: span 2;
  }
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* General Style */
a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

body {
  font-size: var(--fs-300);
  font-family: var(--ff-barlow);
  color: hsl(var(--clr-white));
  background: hsl(var(--clr-dark));
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.skip-to-content {
  position: absolute;
  width: max-content;
  border: 1px solid hsl(var(--clr-light));
  padding: 0.25rem 1rem;
  translate: 0 -100%;
}
.skip-to-content:focus {
  translate: 0;
}

/*# sourceMappingURL=style.css.map */
