@use './utils';
@use './components';
@use './abstracts' as *;

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%; 
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* General Style */

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

body {
  font-size: var(--fs-300);
  font-family: var(--ff-barlow);
  color: hsl(var(--clr-white));
  background: hsl(var(--clr-dark));

  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

/* background */
.home {
  background-image: url('../assets/home/background-home-mobile.jpg');

  @include mq(medium, min-width) {
    background-image: url('../assets/home/background-home-tablet.jpg');
  }

  @include mq(large, min-width) {
    background-image: url('../assets/home/background-home-desktop.jpg');
  }
}

/* Home Page */


.primary-navigation {

  --gap: 2rem;
  backdrop-filter: blur(1rem);
  background-color: hsl(var(--clr-white) / 0.2);
  
  @include mq(medium, max-width) {
    & {
      --underlines-gap: 0.5rem;
      --gap: 1rem;
      flex-direction: column;
      padding: 6rem 2rem;
      position: fixed;
      inset: 0 0 0 30%;
      translate: 100% 0;
      transition: translate 250ms ease-in;
    }

    & > * {
      border-bottom: 0;
    }
  }
}

.menu-toggle {
  display: none;
  
  @include mq(medium, max-width) {
    display: block;
    width: 1.5rem;
    aspect-ratio: 1;
    background: url('../assets/shared/icon-hamburger.svg') no-repeat center;
    border: 0;
    position: absolute;
    top: 2rem;
    right: 1rem;
    background-color: transparent;
    z-index: 9;
    cursor: pointer;

    &:focus-visible{
      outline: 2px solid black;
      outline-offset: 5px;
    }

    &[aria-expanded=true] {
      background-image: url('../assets/shared/icon-close.svg')
    }
  }
}

@include mq(medium, max-width) {
  .show-menu {
    translate: 0 0;
  }
}

.text-wrapper {
  width: clamp(22rem, 25vw, 25rem);
}
