@use '../abstracts' as *;
@use 'sass:map';

/* Home Page */
.home {
  background-image: url('../assets/home/background-home-mobile.jpg');

  @include mq(medium, min-width) {
    background-image: url('../assets/home/background-home-tablet.jpg');
  }

  @include mq(large, min-width) {
    background-image: url('../assets/home/background-home-desktop.jpg');
  }
}

.header {
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 1.25rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-navigation {
  --gap: clamp(1rem, 5vw, 3rem);
  --underlines-gap: 2rem;
  backdrop-filter: blur(1rem);
  background-color: hsl(var(--clr-white) / 0.2);
  
  
  @include mq(medium, max-width) {
    & {
      --underlines-gap: 0.5rem;
      --gap: 1rem;
      flex-direction: column;
      padding: 6rem 2rem;
      position: fixed;
      inset: 0 0 0 30%;
      translate: 100% 0;
      transition: translate 250ms ease-in;
    }
    
    & > * {
      border-bottom: 0;
    }
  }
  
  @media (min-width: map.get($breakpoints, medium)) and (max-width: map.get($breakpoints, large)) {
    
    & span{
      display: none;
    }
  }
  
  @include mq(medium, min-width) {
    & {
      padding-inline-start: clamp(2rem, 10vw, 6rem);
      padding-inline-end: clamp(3rem, 10vw, 8rem);
    }
  }
  
  @include mq(large, min-width) {
    & {
      margin-block: 2rem;
    }
  }
}



.menu-toggle {
  display: none;
  
  @include mq(medium, max-width) {
    display: block;
    width: 1.5rem;
    aspect-ratio: 1;
    background: url('../assets/shared/icon-hamburger.svg') no-repeat center;
    border: 0;
    position: absolute;
    top: 2rem;
    right: 1rem;
    background-color: transparent;
    z-index: 9;
    cursor: pointer;
    
    &:focus-visible{
      outline: 2px solid black;
      outline-offset: 5px;
    }
    
    &[aria-expanded=true] {
      background-image: url('../assets/shared/icon-close.svg')
    }
  }
}

@include mq(medium, max-width) {
  .show-menu {
    translate: 0 0;
  }
}

@include mq(large, min-width) {

  .header::after {
    content: '';
    position: relative;
    display: block;
    height: 2px;
    width: 100%;
    background-color: hsl(var(--clr-white) / 0.25);
    translate: 3.5rem 0;
    order: 1;
  }

  *:has(>.primary-navigation) {
    order: 2;
    white-space: nowrap;
  }
}
