.underline-indicators {
  & span {
    font-weight: 700;
  }

  & a {
    cursor: pointer;
  }

  & > * {
    padding: var(--underlines-gap, 1rem) 0;
    border: 0;
    border-bottom: 2px solid hsl(var(--clr-white) / 0);
  }

  & > *:is(:hover, :focus){
    border-color: hsl(var(--clr-white) / 0.5);
  }

  & > .active,
  & > [aria-selected="true"]{
    border-color: hsl(var(--clr-white) / 1);
  }
}

.dot-indicators {

  *:where(:not(:first-child)){
    margin-left: var(--gap, .5rem);
  }

  & > * { 
    padding: .5em;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    background-color: hsl(var(--clr-white) / .25);
  }

  & > *:is(:hover, :focus) {
    background-color: hsl(var(--clr-white) / .5);
  }

  & > [aria-selected=true]{
    background-color: hsl(var(--clr-white) / 1);
  }
}

.number-indicators {

  & > * {
    border: 0;
    width: clamp(3rem, 6vw ,5rem);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: hsl(var(--clr-white) / .25);
  }

  & > *:is(:hover, :focus) {
    background-color: hsl(var(--clr-white) / .5);
  }

  & > [aria-selected="true"]{
    background-color: hsl(var(--clr-white) / 1);
  }
}